b-card(style="max-width:400px;")
  b-card-title MetaMask
  b-card-body(v-if="!ethereum.selectedAddress")
      b-btn(variant="primary" @click="requestAccounts") requestAccounts
  b-card-body(v-else)
    span Current Address: {{ethereum.selectedAddress|toChecksumAddress}}
    br
    b-icon(v-if="balance===null&&getBalance(ethereum.selectedAddress)" icon="arrow-clockwise" animation="spin-pulse")
    span(v-if="balance!==null") Balance: {{balance|ether}} Ether
      b-btn.p-0(variant="primary" @click="getBalance(ethereum.selectedAddress)")
        b-icon-arrow-repeat
    b-form-input(v-model="transactionToAddress" placeholder="to address")
    b-form-input(v-model="transactionEther" placeholder="send amount(ether)")
    b-form-textarea(v-model="transactionData" placeholder="data(option)")
    b-btn(variant="primary" @click="sendTransaction(transactionToAddress,transactionEther,transactionData)") sendTransaction
    b-alert(v-if="transactionHash" show) tx hash: {{transactionHash}}
    b-btn(variant="primary" @click="call(transactionToAddress,transactionEther,transactionData)") call
    b-alert(v-if="returnData" show) return data: {{returnData}}
    hr
    b-form-textarea(v-model="message" placeholder="message")
    b-btn(variant="primary" @click="personalSign(message)") personalSign
    b-alert(v-if="messageSignature" show) message signature: {{messageSignature}}